@media (max-width: 425px) {
  div#roadmap h2 {
    font-size: 2.5rem;
  }
}

@media (max-width:  471px) {
  div.hero {
    margin-top: 10rem;
  }
}

@media (max-width: 500px) {
  .dashboard-section .tokens h4 {
    flex-direction: column;
  }
  .dashboard-section .tokens h4 span:first-child {
    margin: unset;
    font-size: 1rem;
  }
}
